.categoryList {
  background-color: teal;
  .singleCategory {
    color: #fff;
    font-size: 24px;
    border: 1px solid #fff;
    display: block;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px;
  }
  &:hover {
    background-color: #fff;
    .singleCategory {
      color: teal;
      border: 2px solid teal;
    }
  }
}
