* {
  margin: 0;
  padding: 0;
  border: 0;
}
.app {
  min-height: 100vh;
  .app-header {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    h1 {
      color: rgb(54, 43, 43);
      margin: 20px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    .side-bar {
      width: 25%;
    }
    .main-display {
      width: 75%;
    }
  }
}
